.container {
    transform: translateY(20%);
    width: auto;
    height: 70vh;
    border: 1px solid black;
}

.target {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #a52a2a;
    position: absolute;
    margin-bottom: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.target:hover {
    cursor:crosshair;
}







